[submodule "third-party/pyksvd"]
	path = third-party/pyksvd
	url = https://github.com/glemaitre/pyksvd.git
[submodule "third-party/UnbalancedDataset"]
	path = third-party/UnbalancedDataset
	url = https://github.com/glemaitre/UnbalancedDataset.git
[submodule "third-party/scikit-learn"]
	path = third-party/scikit-learn
	url = https://github.com/glemaitre/scikit-learn.git
[submodule "third-party/mahotas"]
	path = third-party/mahotas
	url = https://github.com/glemaitre/mahotas.git
[submodule "third-party/phasepack"]
	path = third-party/phasepack
	url = https://github.com/glemaitre/phasepack.git
[submodule "third-party/pyFFTW"]
	path = third-party/pyFFTW
	url = https://github.com/glemaitre/pyFFTW.git
[submodule "third-party/fdasrsf"]
	path = third-party/fdasrsf
	url = https://github.com/glemaitre/fdasrsf.git
[submodule "third-party/nmrglue"]
	path = third-party/nmrglue
	url = https://github.com/glemaitre/nmrglue.git
[submodule "third-party/statsmodels"]
	path = third-party/statsmodels
	url = https://github.com/glemaitre/statsmodels.git
